.services {
    margin-top: -250px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 100px;
    scroll-margin-top: 6rem;
}

.services__cards {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    .services {
        margin-top: -200px;
        padding: 0px var(--spacing-1);
    }
}

@media screen and (max-width: 800px) {
    .services {
        padding: 0px var(--spacing-3);
        scroll-margin-top: 8rem;
    }
}

@media screen and (max-width: 630px) {
    .services__cards{
        flex-direction: column;
        align-items: center;
        row-gap: var(--spacing-2);
    }
}