.navbar {
    background-color: var(--primary);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-4) 100px;
    position: fixed;
    z-index: 2;
    width: 100%;
}

.navbar__desktop {
    display: flex;
}

.navbar__logo {
    width: 73px;
}

.navbar__navLinks_desktop {
    display: flex;
    column-gap: var(--spacing-2);
    align-items: center;
}

.navbar__navLinks li {
    cursor: pointer;
}

.navbar__navLinks_link:hover {
    opacity: .7;
    transition: opacity .25s ease-in-out;
}

.navbar__navLinks_link {
   padding-bottom: var(--spacing-5);
}

.navbar__navLinks_desktop_button {
    background-color: var(--accent);
    padding: var(--spacing-4);
    border-radius: 7px;
    cursor: pointer;
    width: fit-content;
}

.navbar__navLinks_button:hover {
    background-color: var(--accent-hover);
    transition: background-color .25s ease-in-out;
}

.navbar__mobile {
    display: none;
    flex-direction: column;
}

@media screen and (max-width: 1024px) {
    .navbar {
        padding: var(--spacing-4) var(--spacing-1);
    }
}

@media screen and (max-width: 800px) {
    .navbar {
        padding: var(--spacing-3);
    }

    .navbar__desktop {
        display: none;
    }

    .navbar__mobile {
        display: flex;
    }

    .navbar__mobile_navLinksContainer {
        background-color: var(--gray);
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        width: 25%;
        animation: animate-navMobileMenu-slideIn .25s forwards; 
    }

    .navbar__navLinks_mobile {
        display: flex;
        flex-direction: column;
        row-gap: var(--spacing-2);
        padding: var(--spacing-3) var(--spacing-4);
    }
}

@media screen and (max-width: 430px) {
    .navbar__mobile_navLinksContainer {
        width: 40%;
    }

}

@keyframes animate-navMobileMenu-slideIn {
    0% {
        width: 0
    }
    100% {
        width: 200px;
    }
}