@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
:root {
    /* Colors */
    --primary : #101010;
    --accent: #25AAE1;
    --gray: #DBDBDB;
    --green: #0FA958;
    
    /* Typography */
    --fontSize-header: 2rem; /* 32px */
    --fontSize-subtitle: 1.5rem; /* 24px */
    --fontSize-normal: 1.125rem; /* 18px */
    --line-height: 123.7%;  

    /* Spacing */
    --spacing-1: 50px;
    --spacing-2: 30px;
    --spacing-3: 20px;
    --spacing-4: 10px;
    --spacing-5: 5px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

