@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
:root {
    /* Colors */
    --primary : #101010;
    --accent: #25AAE1;
    --gray: #DBDBDB;
    --green: #0FA958;
    
    /* Typography */
    --header: 2rem;
    --subtitle: 1.5rem;
    --line-height: 123.7%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

